In [ ]:
Bismillah
Poin-poin:
- Looping/Perulangan
- For Loop
- While Loop
- Contoh Perulangan
- Latihan

## **Looping/ Perulangan**
Python menyediakan dua statement untuk melakukan proses perulangan yaitu for dan while. Diantara kedua
statement ini, secara umum for lebih banyak digunakan daripada while.

### **For Loop**

Perulangan for digunakan untuk melakukan iterasi di dalam sequence seperti list , tuple , string ,
dan array atau objek yang dapat diiterasi lainnya.

In [ ]:
# For Loop Syntax
for val in sequence:
  loop body

Pada proses iterasi ini, val adalah variabel yang diambil dari elemen-elemen di dalam sequence untuk
setiap iterasi.

Perulangan akan berlangsung hingga elemen terakhir dari sequence . Pada bagian body dari for loop
diletakkan dalam indentasi.

In [ ]:
# Contoh Kode Loop For

# Program untuk menghitung jumlah semua angka dalam sebuah list

# List angka
list_angka = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variabel untuk menyimpan hasil penjumlahan
jumlahan = 0

# iterasi di dalam list
for angka in list_angka:
  jumlahan = jumlahan+angka
print("Jumlah :", jumlahan)

Jumlah : 48

### **Range() Function**

Kita dapat membuat sebuah sequence angka menggunakan fungsi range() . range(10) akan
menghasilkan sequence angka dari 0 sampai 9(10 angka).

Kita juga dapat mendefinisikan nilai awal, nilai akhir dan step sizenya yaitu range(start, stp, step_size)
. Secara default step_size bernilai 1 jika tidak ditentukan secara khusus.

Kita dapat menggunakan fungsi range() di dalam perulangan for untuk melakukan iterasi di dalam
sequence numbers . Ini dapat kita kombinasikan dengan fungsi len() untuk melakukan iterasi melalui index
dari sebuah sequence . Berikut contohnya:

In [ ]:
# Program untuk melakukan iterasi di dalam list melalui indeks
musik = ['dangdut', 'campursari', 'keroncong']

# iterasi di dalam list melalui indeks
for i in range(len(musik)):
  print("Aku suka", musik[i])

Aku suka dangdut
Aku suka campursari
Aku suka keroncong

### **For Loop with Else**

Sebuah for loop dapat memiliki opsi blok else . Blok else akan dijalankan jika iterasi telah selesai
dilakukan dalam sebuah sequence .

Keyword break digunakan untuk menghentikan iterasi. Dalam kasus itu maka bagian else diabaikan.

Sehingga, bagian iterasi else hanya dijalankan jika tidak terjadi break .

Berikut adalah beberapa contoh sebagai ilustrasi:

In [ ]:
digits = [0, 1, 5]

for i in digits:
  print(i)
else:
  print("Tidak ada elemen yang tersisa.")

0
1
5
Tidak ada elemen yang tersisa.

Ketika iterasi berjalan maka akan dilakukan print item hingga iterasi selesai. Ketika iterasi pada sequence
selesai baru perintah pada blok else dijalankan yaitu print Tidak ada elemen yang tersisa .

Statement for ... else dapat digunakan bersama dengan keyword break untuk menjalankan blok else
hanya ketika break tidak dieksekusi. Lihat contoh berikut:

In [ ]:
# Program untuk menampilkan nilai tugas siswa.

nama_siswa = 'Butet'
daftar_nilai = {'Bambang': 90, 'Andri': 55, 'Candra': 77}
for siswa in daftar_nilai:
  if siswa == nama_siswa:
    print(daftar_nilai[siswa])
    break
else:
  print('Tidak ada data nilai atas nama', nama_siswa, '!')

Tidak ada data nilai atas nama Butet !

### **While Loop**
While loop pada Python digunakan untuk melakukan iterasi pada blok kode selama nilai dari test
expression adalah true .

Looping ini biasanya digunakan ketika kita tidak tau berapa kali iterasi akan dilakukan hingga sebuah kondisi
yang diinginkan dapat dicapai. Syntax:

In [ ]:
while test_expression:
  Body of while

Pada loop while, test expression justru dicheck pertama kali. Kemudian statement - statement di dalam
body of while akan dieksekusi jika nilai dari test expression adalah true . 
Setelah satu iterasi
dijalankan, test expression dicek kembali. Proses ini terus berlanjut hingga nilai evaluasi dari test
expression adalah False .

Pada Python, bagian body pada loop while dituliskan menggunakan indentasi.

Sebagai catatan tambahan bahwa Python menginterpretasikan non-zero values sebagai True. None
dan 0 diinterpretasikan sebagai False.

In [ ]:
# Program untuk menjumlahkan semua
# bilangan asli hingga suku ke-n
# jumlahan = 1+2+3+...+n

n = 10

# nilai awal penjumlahan dan iterasi
jumlahan = 0
i = 1

while i <= n:
  jumlahan = jumlahan + i
  i = i+1 # update iterasi

# cetak hasil penjumlahan
print("jumlahan =", jumlahan)

jumlahan = 55

Pada program di atas, test expression akan bernilai True selama nilai iterasi i kurang dari atau sama
dengan n.

Kita perlu mengupdate nilai dari variabel pencatat iterasi i agar iterasi tidak berlangsung secara terus
menerus(infinity loop).

### **While Loop with Else**
Sama dengan for loop kita juga dapat mengkombinasikan while loop dengan blok else.

Bagian else akan dieksekusi jika nilai pada test expression pada pada while loop bernilai False .
Perhatikan contoh berikut:

In [ ]:
counter = 0
while counter < 3:
  print("Di dalam Loop")
  counter = counter + 1
else:
  print("Di dalam else")

Di dalam Loop
Di dalam Loop
Di dalam Loop
Di dalam else

### **Contoh Penggunaan Perulangan**

Contoh 1:
Diberikan list_tagihan . Kamu diminta untuk menghitung jumlah seluruh tagihan!. Gunakan looping for
untuk menyelesaikan tugas ini! Simpan hasilnya pada variabel total_tagihan !

list_tagihan = 
`[50000, 75000, -150000, 125000, 300000, -50000, 200000]`

In [ ]:
list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
total_tagihan = 0

for tagihan in list_tagihan: # untuk setiap tagihan dalam list_tagihan
  total_tagihan += tagihan # tambahkan tagihan ke total_tagihan
print(total_tagihan)

**Contoh 2:**

Diberikan list_tagihan . Kamu diminta untuk menghitung jumlah seluruh tagihan!. Gunakan looping for
untuk menyelesaikan tugas ini! Simpan hasilnya pada variabel total_tagihan !

list_tagihan = 
`[50000, 75000, -150000, 125000, 300000, -50000, 200000]`

Perhatikan bahwa, terdapat nilai tagihan yang negatif. Hentikan perhitungan total_tagihan jika menemukan
nilai negatif!

In [ ]:
list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
total_tagihan = 0
for tagihan in list_tagihan:
  if tagihan < 0:
    print("terdapat angka minus dalam tagihan, perhitungan dihentikan!")
    break
  total_tagihan += tagihan
print(total_tagihan)

terdapat angka minus dalam tagihan, perhitungan dihentikan!
125000

**Contoh 3:**

Diberikan list_cash_flow kamu diminta untuk melakukan penghitungan total_pemasukan dan
total_pengeluaran menggunakan looping for . Untuk nilai positif berarti adalah pemasukan dan nilai
negatif berarti adalah pengeluaran.

list_cash_flow = [2500000, 5000000, -1000000, -2500000, 5000000, 10000000, -500000
0, 7500000, 10000000, -1500000, 25000000, -2500000]

In [ ]:
list_cash_flow = [
2500000, 5000000, -1000000, -2500000, 5000000, 10000000,
-5000000, 7500000, 10000000, -1500000, 25000000, -2500000
]

total_pengeluaran, total_pemasukan = 0, 0

for dana in list_cash_flow:
  if dana > 0:
    total_pemasukan += dana
  else:
    total_pengeluaran += dana
total_pengeluaran *= -1
print(total_pengeluaran)
print(total_pemasukan)

12500000
65000000

LATIHAN

1. Buatlah fungsi untuk menghitung diskon suatu pembayaran belanjaan dengan input berupa dictionary
untuk daftar harga dan dictionary untuk daftar belanjaan!

In [ ]:
daftar_harga = {'telur/kg':20000, 'gula_pasir/kg':16000, 'teh/bks':4000}
daftar_belanjaan = {'telur':2, 'gula_pasir':5}